.list{
list-style: none;
text-decoration: none;
}

.link{
text-decoration: none;     
}

.link-menu{ 
color: var(--text-color);
font-family: Roboto, sans-serif;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 1.5;
letter-spacing: 0.02em;  
}

body{
font-family: "Roboto", sans-serif;
color: #434455;
background-color: var(--body-color);
}

:root{
--text-color: #2E2F42;
--firstword-text-color:#4D5AE5; 
--backgroud-color:#2e2f42;
--paragraph-color:#434455;
--white-color:#F4F4FD;
--body-color:#FFFFFF;
}

.logo {
color: var(--firstword-text-color);
font-family: Raleway, sans-serif;
font-size: 18px;
font-style: normal;
font-weight: 800;
letter-spacing: 0.03em;
text-transform: uppercase;
text-decoration: none;
line-height: 1.17;
}

.logo-part-two{
color: var(--text-color);
}


.link-menu:hover, .link-menu:focus{
    color:#404BBF;
}

.address{
font-style: normal   
}

.contact{
color: #434455;
font-family: Roboto, sans-serif;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 24px;
letter-spacing: 0.32px;
text-decoration: none;
}

.contact:hover, .contact:focus{
color: #404bbf    
}

.section-one{
background-color: #2e2f42;
}

.main-text{
background-color:var(--backgroud-color);
color: #ffffff;
text-align: center;
font-family: Roboto, sans-serif;
font-size: 56px;
font-style: normal;
font-weight: 700;
line-height: 1.07;
letter-spacing: 0.02em;
}

.main-page-button{
background-color:#4D5AE5 ;
color: #ffffff;
font-family: Roboto, sans-serif;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 1.5; 
letter-spacing: 0.04em;    
cursor: pointer;
}

.main-page-button:hover, .main-page-button:focus{
background-color: #404BBF
}

.header-three{
color: var(--text-color);
font-family: Roboto, sans-serif;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: 1.2; 
letter-spacing: 0.02em;
}

.paragraph{
color:var(--paragraph-color);
font-family: Roboto, sans-serif;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 1.5; 
letter-spacing: 0.32px;    
}

.text-wawd{
color: var(--text-color);
text-align: center;
font-family: Roboto, sans-serif;
font-size: 36px;
font-style: normal;
font-weight: 700;
line-height: 1.11; 
letter-spacing: 0.02em;
text-transform: capitalize;   
}

.section-four{
background-color: #F4F4FD;
}

.text-our-team{
color: var(--text-color);
text-align: center;
font-family: Robotom, sens-serif;
font-size: 36px;
font-style: normal;
font-weight: 700;
line-height: 1.11;
letter-spacing: 0.02em;
text-transform: capitalize;
}

.section-four-li{
background-color: #FFFFFF;
}


.header-section-four{
color: var(--text-color);
text-align: center;
font-family: Roboto, sans-serif;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: 1.2;
letter-spacing: 0.02em;
}

.paragraph-our-team{
color: var(--paragraph-color);
text-align: center;
font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 1.5; 
letter-spacing: 0.02em;
}

.footer{
background-color:var(--backgroud-color);    
}

.logo-footer{
color: var(--firstword-text-color);
font-family: Raleway, sans-serif;
font-size: 18px;
font-style: normal;
font-weight: 800;
letter-spacing: 0.03em;
text-transform: uppercase;
text-decoration: none;
line-height: 1.17 
}

.logo-part-two-footer{
color: #f4f4fd;
}

.paragraph-footer{
color: var(--white-color);
font-family: Roboto, sans-serif;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 1.5;
letter-spacing: 0.02em;
}

.button-portfolio{
color: var(--firstword-text-color);
background-color: var(--white-color);
text-align: center;
font-family: Roboto, sans-serif;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 1.5;
letter-spacing: 0.04em; 
cursor: pointer;  
}

.button-portfolio:hover, .button-portfolio:focus{
color: #FFFFFF;
background-color: #404BBF;    
}

.sub-list > li{
list-style: none;
text-decoration: none;   
}

.link > .h-two-portfolio{
    color: var(--text-color);
    font-family: Roboto, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.2; 
    letter-spacing: 0.02em;  
}

.link > .paragraph-portfolio{
color: var(--paragraph-color);
font-family: Roboto, sans-serif;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 1.5; 
letter-spacing: 0.02em; 
}

.link > .img{
    background-color: #FFFFFF;
}
